.box{
    position: relative;
    border-radius: 15px;
    margin: 30px;
    height: 200px;
    
}

.grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 90px;
}

.grid > div{
    flex-basis: calc(20% - 40px);
}

h1{
    position: relative;
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 78px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 6%;
    padding-top: 2%;
    padding-bottom: 1%;
    
}

.img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.max{
    min-height: 100%;
}
