.Footer {
  background-color: #F3F3F3;
  color: #0C1B27;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 100%;
}

.InfoBarTitle {
  font-family: 'Poppins';
  text-align: left;
  font-size: 31px;
  color: 'white';
  font-weight: 600;
  padding-top: 7.5px;
  margin-left: 0%;
}

.Subtitle {
  font-family: 'Poppins';
  font-size: 16px;
  color: 'white';
  align-content: 'left';
  text-overflow: ellipsis;
}

.When {
  font-family: 'Montserrat';
  font-size: 24px;
  color: 'white';
  align-content: 'left';
  text-overflow: ellipsis;
  text-align: left;
  padding-top: 7.5px;
  padding-left: 10px;
  padding-right: 30px;
}

.grad {
  background: -webkit-gradient(linear, left top, left bottom, from(#FCFF69), to(#B6802F));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.InfoBar {
  box-shadow: 0px 0.1px 50px -10px black;
}

.SubIcon {
  color: #62FF8E;
  font-size: 15px;
  padding-left: 3px;
  padding-right: 3px;
}

.Form {
  font-family: 'Poppins';
  font-size: 22px;
  text-align: start;
}

.FormTitle {
  font-family: 'Poppins';
  text-align: left;
  font-size: 36px;
  color: white;
  text-overflow: ellipsis;
  font-weight: 600;
  padding-bottom: 60px;
  padding-top: 60px;
  padding-left: 12px;
  margin-left: 0%;
}

.space {
  color: white;
  padding-bottom: 30px;
}