.App {
    text-align: center;
    background-color: #0C1B27;
    overflow-x: hidden;
    color: white;
    min-width: 100%;
    min-height: 100%;
}

.bgLogo {
    background-image: url(./assets/bgop.png);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position-x: center;
    background-position-y: center;
    position: relative;
}