@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

*{
    font-family: 'Montserrat';
}

.slideshow{
    padding: 7% 7%;
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.5));
}

.carousel-inner{
    border-radius: 1%;
}

.main-body{
    min-height: 100vh;
}

.newsbox{
    height: 54vh;
    width: auto;
    background-color: #C4C4C4;
    margin: 9% 9%;
    border-radius: 1%;
    color: black;
    text-align: left;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.newsbox::-webkit-scrollbar {
    display: none;
  }

.line {
    border-top: 1px solid black;
}

.light-content{
    color: #ADADAD;
}

.social-logo{
    max-height: auto;
    max-width: 60px;
   
}

.logo-cont{
    display: flex;
    padding: 0%;
}

h1{
    font-size: larger;
}

.content{
    margin: auto;
}

.news-header{
    text-align: center !important;
}


li{
    margin-bottom: 15px;
}

.socials{
    margin-top: 5vh;
}

.about{
    margin: 10vh 0;
}

.about-title{
    text-decoration: underline;
    padding: 3vh 0;
}

.about-content{
    font-size: large;
}

.featured{
    margin: 10vh 0;
}
.featured-title{
    text-decoration: underline;
    padding: 3vh 0;
}

.cars img{
    width: 100%;
    margin: 0 auto;
}
.cars{
    transform: scale(0.7);
    transition: transform 300ms;
    opacity: 0.4;
}
.activeSlide{
    transform: scale(1);
    opacity: 1;
}

.arrow{
    position: absolute;
    cursor: pointer;
    z-index: 10;
}
.arrow svg {
    transform: color 300ms;
}
.arrow svg:hover{
    color: grey;
}
.next{
    right: 0%;
    top: 50%;
}
.prev{
    left: 0%;
    top: 50%;
}

@media screen and (max-width: 600px){
    .slide img {
        width: 20rem;
    }
}